.search-container {
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  line-height: 40px;
}
.search-container input {
  width: 75%;
}
.services-container {
  /* display: grid;
  grid-template-columns: 3fr 1fr; */
  margin-top: 30px;
}
.course-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-right: 5px;
  margin-left: 50px;
}
