.search-container {
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  line-height: 40px;
}
.search-container input {
  width: 75%;
}
.home-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.course-container {
  border-right: 1px solid lightgray;
  margin-right: 5px;
  margin-left: 50px;
}

.top-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #2d25a0;
  padding: 0;
  color: white;
  transition: background-color 2s ease-out;
}
.top-banner:hover {
  transform: rotate(360deg);
  background-color: #ff5d3a;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 2s ease-out;
}
.banner-name {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 33.6%;
  height: 230px;
  left: 156px;
  top: 207px;
  font-size: 64px;
  line-height: 80px;
  margin: 0;
}
.btn {
  text-decoration: none;
  background-color: #e02c6d;
  color: white;
  font-weight: 700;
  padding: 20px 40px;
}
.btn1 {
  position: absolute;
  left: 156px;
  top: 464px;
}
.banner-image {
  margin-top: 153px;
  margin-left: 760px;
  top: 153px;
}
.banner-image img {
  top: 207px;
  width: 556.01px;
  height: 438px;
}
.banner-image:hover {
  transform: rotate(360deg);
  transition: all 0.7s ease-in-out 0s;
}
