.header {
  text-align: left;
}
.logo {
  height: 150px;
  width: 250px;
}
.header nav {
  background-color: black;
  line-height: 40px;
}
.header nav a {
  text-decoration: none;
  color: lightskyblue;
  margin-right: 20px;
  padding: 5px;
  font-size: 20px;
}
.header nav a:hover {
  background-color: lightslategray;
  color: black;
}
